* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button{
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    font-weight: semi-bold;
    color: white;
    background-color: #30B868;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 1620px;
    height: 92px;

}

nav .logo{
    width: 139px;
    height: 60px;
    padding-left: 120px;
    padding-top: 16px;
    padding-bottom: 16px;
}

nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    margin-left: 420px;
    margin-top: 34px;
    gap: 32px;
    font-size: 16px;
    
}

nav ul li .btn{
    width: 164px;
    height: 44px;
    background-color: #30B868;
    font-size: 16px;
    font-weight: semi-bold;
    margin-right: 120px;
    margin-left: 345px;
}

#hero{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#hero{
    width: 1620px;
    height: 748px;
}

#hero h1{
    font-size: 72px;
    color: white;
    text-align: center;
    padding-top: 190px;
    padding-bottom: 16px;
}
#hero .clr{
    color: #30B868;
}
#hero p{
    font-size: 18px;
    color: white;
    text-align: center;
}

#hero .button{
    display: flex;
    gap: 16px;
    margin-top: 32px;
    margin-bottom: 179px;
}
#hero .btn-1 img{
    height: 18px;
    width: 18px;
}
.btn-1{
    width: 251px;
    height: 52px;
    padding: 14px 24px;
    display: inline-flex;
    align-items: center;
}

#hero .btn-2 img{
    height: 18px;
    width: 18px;
}
.btn-2{
    width: 198px;
    height: 52px;
    padding: 14px 24px;
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    border-style: ridge;
}

#note{
    display: flex;
    width: 1620px;
    height: 448px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#note h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 16px;
}

#note p{
    font-size: 16px;
    color: #627382;
    text-align: center;
    padding-bottom: 44px;
}

.cards{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 1360px;
    height: 251px;
    gap: 24px;
    
}
.cards img{
    padding-bottom: 16px;
    background-color: #F95555;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding: 14px;
}
.cards h3{
    padding-bottom: 16px;
    color: #001931;
}
.card-1{
    width: 280px;
    text-align: center;
    color: #627382;
    background-color: #ebebeb;
    padding: 24px;
    border-radius: 8px;
    
}
.card-2{
    width: 280px;
    text-align: center;
    color: #627382;
    background-color: #ebebeb;
    padding: 24px;
    border-radius: 8px;
}
.card-3{
    width: 280px;
    text-align: center;
    color: #627382;
    background-color: #ebebeb;
    padding: 24px;
    border-radius: 8px;
}
.card-4{
    width: 280px;
    text-align: center;
    color: #627382;
    background-color: #ebebeb;
    padding: 24px;
    border-radius: 8px;
    
}

#brain {
    display: flex;
    width: 1620px;
    height: 804px;
    padding: 120px;
    justify-content: space-between;
    align-items: center;
}

#brain .content h4{
    font-size: 16px;
    font-weight: 800;
    color: #30B868;
    padding-bottom: 16px;
    text-transform: uppercase;
}

#brain .content h2{
    font-size: 48px;
    color: #001931;
    font-weight: 700;
    padding-bottom: 16px;
    text-align: left;
    
}

#brain .content p{
    font-size: 16px;
    color: #627382;
    padding-bottom: 40px;
    text-align: left;
}

#brain .content ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}

#brain .content ul li{
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 16px;
    padding: 0;
    color: #001931;
    font-size: 16px;
    font-weight: 600;
}

#early-access{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1620px;
    height: 507px;
    padding: 0 120px 120px 120px;
    font-size: 40px;
    color: #001931;
    font-weight: 700;
    padding-bottom: 16px;
    text-align: center;
}

#early-access .titel{
    width: 1360px;
    height: 385px;
    border-radius: 8px;
    padding: 80px;
    background-color: #F7F6F2;
}

#early-access p{
    font-size: 16px;
    color: #627382;
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: center;
}
#early-access .ea{
    width: 194px;
    height: 52px; 
    padding: 14px 24px;
    display: inline-flex;
    align-items: center;
     
}

#early-access .p1{
    font-size: 16px;
    color: #627382;
    padding-top: 16px;
    padding-bottom: 24px;
     text-align: center;
    padding-bottom: 80px; 
 }

 #footer-section{
    width: 1620px;
    height: 348px;
    background-color: #001931;
    padding: 120px 120px 30px 120px;
 }


.f-logo{
    width: 139px;
    height: 60px;
   
}
.social{
    display: flex;
    align-items: center;
    justify-content: end;
}

.social p{

    text-align: center;
    margin-bottom: 10px;
    font-size: 14px;
    color: white;
}

.social ul{
    list-style: none;
    display: flex;
    gap: 18px;
    padding: 0;
    margin: 0;
}
.social ul li img{
    width: 20px;
    height: 20px;
}
 .text{
  margin-top: 60px;
  padding-top: 15px;
  border-top: 1px solid #FAFAFA;
    color: #FAFAFA;
  text-align: center;
  font-size: 16px;
 }
  